<div class="container mat-elevation-z8">
  <div #table *ngFor="let element of dataSource">
    <div *ngIf="element.isSelected; else notSelected">
      <button
        class="btnName"
        [style.backgroundColor]="selectedColor"
        (pointerdown)="onClick(element)"
      >
        {{ element.name }}
      </button>
    </div>
    <ng-template #notSelected>
      <div>
        <button
          class="btnName"
          [style.backgroundColor]="notSelectedColor"
          (pointerdown)="onClick(element)"
        >
          {{ element.name }}
        </button>
      </div>
    </ng-template>
  </div>
</div>
